#field {
    width: 50%;
    height: 200px;
    border-bottom: 3px solid black;
    position: relative;
}
#ball {
    position: absolute;
    cursor: pointer;
}
body {
    background: url('back.jpg') no-repeat;
    background-size: cover;
}
#bird {
    width: 200px;
    height: 200px;
    margin-top: 300px;
    margin-bottom: 50px;
    position: relative;
}
input {
    position: absolute;
    top: 100px;
    left: 100px;
    width: 100px;
    height: 70px;
    border-radius: 50%;
    border: 3px solid pink;
    background-color: pink;
    cursor: pointer;
}