body {
    background: url('back.jpg') no-repeat;
    background-size: cover;
}
#field {
    position: relative;
    width: 100%;
    height: 600px;
    /* border: 1px solid red; */
}
#bird {
    position: absolute;
    width: 200px;
    height: 200px;
    margin-top: 300px;
    margin-bottom: 50px;
    
}
input {
    width: 100px;
    height: 70px;
    margin: 50px;
    border-radius: 50%;
    border: 3px solid pink;
    background-color: pink;
    cursor: pointer;
}